<!-- views/partials/user-profile.ejs -->
<div class="flex flex-col items-end space-y-2 text-white mr-4">
    <div class="flex items-center">
        <img src="<%= avatar_url %>" alt="User Avatar" class="w-10 h-10 rounded-full mr-2">
        <span class="font-bold"><%= username %></span>
    </div>
    <div class="space-x-2 text-sm">
        <span>Cash: <%= cash %></span>
        <span>Gold: <%= gold %></span>
        <span>Silver: <%= silver %></span>
    </div>
</div>
