<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('partials/head') %>
  <link rel="stylesheet" href="/css/holdem.css">
  <link rel="stylesheet" href="/css/components/holdem-room-modal.css">

</head>
<body>
  <%- include('partials/navbar') %>

  <div class="hero-bg">
    <div class="content">
      <div class="channel-list">
        <%- include('partials/holdem/channel-list') %>
      </div>
    </div>
  </div>

  <%- include('partials/holdem/room-modal') %>
  <%- include('partials/footer') %>

  <script src="https://unpkg.com/colyseus.js@^0.15.0/dist/colyseus.js"></script>
  <script>
    // Set your monitor URL globally
    window.monitorUrl = 'wss://dev-holdem.emp555.com'; // Replace with your actual URL
  </script>
  <script src="/js/components/holdem-room-modal.js"></script>
  <script src="/js/holdem.js"></script>
  <script type="module" src="/js/modal.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module">
    import { initProfileModal } from '/js/profileModal.js';
    import { initCashChargeModal } from '/js/cash-charge-modal.js';

    document.addEventListener('DOMContentLoaded', () => {
      initProfileModal();
      initCashChargeModal();
    });

    // In your main script where pokerStart is defined
    window.pokerStart = function(roomId) {
      // console.log('gamecode = ', gamecode)
      $.ajax({
        type: "GET",
        url: "/game/init",
        dataType: "json",
        data: {
          _method: 'get',
          game: 'slot',
          gameCode: 'CA001',
          roomId: roomId,
        },
        success: function(data) {
          if(data.result == true) {
            const decodedUrl = decodeURIComponent(data.url);
            console.log('url = ', decodedUrl);
            var newWindow = window.open(decodedUrl, 'SlotGame', "width=1400, height=930, left=100, right=100, toolbar=no, location=no, directories=no, status=no, menubar=no, resizable=no, scrollbars=no, copyhistory=no");
            if (!newWindow) {
              window.location.href = decodedUrl;
            }
          } else {
            alert(data.message);
            window.location.reload();
          }
        },
        error: function() {
          alert("실패했습니다.");
        }
      });
    };
  </script>

</body>
</html>
