<div class="avatar-item font-kr">
  <div class="avatar-image">
    <img src="<%= image %>" alt="<%= name %>">
  </div>
  <div class="avatar-info">
    <h3 class="avatar-name font-kr-medium"><%= name %></h3>
<!--
    <p class="avatar-price">
      <span class="price-label">가격</span>
      <%= price %>원
    </p>
-->
    <div class="purchase-info">
      <span class="stock"><%= price %>원</span>
      <button class="buy-button font-kr-medium">구매하기</button>
    </div>
  </div>
</div>
